@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('http://fonts.cdnfonts.com/css/do-futuristic');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
}
body{
  background-color: #04041B;
  user-select:none;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* FOOTER */
.footer{
    margin-top: auto;
    bottom:0;
    width:100%;
    text-align: center;
  }
  .footer span{
    font-weight:bold;
    padding: 5px 0;
    font-size:13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;  
  }
  span.copyright{
    float:right;
    margin: 0 1%;
  }
  span.joao{
    color:#14b44f;
    /*animation: rainbowTexto 1.5s;
    animation-iteration-count: infinite;*/
    cursor:pointer;
  }
  
  @keyframes rainbowTexto{
      from {
          color: #6666ff;
        }
        10% {
          color: #0099ff;
        }
        50% {
          color: #00ff00;
        }
        75% {
          color: #ff3399;
        }
        100% {
          color: #6666ff;
        }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0.5% 0;
    gap: 25px;
    margin-top:2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-height: calc(100vh - 120px);
    overflow: hidden;
}

.column {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
}

.sponsor {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: space-evenly;
    background-color: #020232;
    border-radius: 8px;
    border: 2px solid red;
    animation: rainbow-border 3s linear infinite;
    padding: 2%;
    min-height: 14vh;
    max-height: 15vh;
    flex: 1;
}
@keyframes rainbow-border {
    0% { border-color: red; }
    16% { border-color: orange; }
    33% { border-color: yellow; }
    50% { border-color: green; }
    66% { border-color: blue; }
    83% { border-color: violet; }
    100% { border-color: red; }
}

.sponsor:nth-child(1) { animation-delay: 0s; }
.sponsor:nth-child(2) { animation-delay: 0.5s; }
.sponsor:nth-child(3) { animation-delay: 1s; }
.sponsor:nth-child(4) { animation-delay: 1.5s; }
.sponsor:nth-child(5) { animation-delay: 1s; }
.sponsor:nth-child(6) { animation-delay: 0.5s; }
.sponsor:nth-child(7) { animation-delay: 0s; }

.sponsor-img {
  margin-right:3%;
  width:100%;
  cursor: pointer;
}

.sponsor-img img {
  width: 95%;
  object-fit: contain; /* Ensures images don't get stretched */
}
/* vemabet - now position 1 */
.column:nth-child(1) .sponsor:nth-child(1) .sponsor-img img{
  width: 70%;
}

/* slott - now position 2 */
.column:nth-child(1) .sponsor:nth-child(2) .sponsor-img img{
  width:75%;
}

/* bcgame - now position 3 */
.column:nth-child(1) .sponsor:nth-child(3) .sponsor-img img{
  width:60%;
}

/* 20bet - now position 4 */
.column:nth-child(1) .sponsor:nth-child(4) .sponsor-img img{
  width: 80%;
}

/* roman - now position 5 */
.column:nth-child(1) .sponsor:nth-child(5) .sponsor-img img{
  width:75%;
}
.column:nth-child(1) .sponsor:nth-child(5) .sponsor-img{
  margin-right:2%;
}


.column:nth-child(2) .sponsor:nth-child(1) .sponsor-img img{
  width: 85%;
}
.column:nth-child(2) .sponsor:nth-child(2) .sponsor-img img{
  width: 80%;
}
.column:nth-child(2) .sponsor:nth-child(3) .sponsor-img img{
  width: 75%;
}
.column:nth-child(2) .sponsor:nth-child(4) .sponsor-img img{
  width: 80%;
}

.sponsor-info {
    border: 2px solid white;
    border-radius: 5px;
    padding: 3px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 6vw;
    min-height: 8vh;

    margin-right:2%;
}

.sponsor-info p {
    text-transform: uppercase;
    font-size: 1.2vh;
    margin: 0;
}


.sponsor-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.sponsor-button {
    background-color: white;
    color: #000000;
    border: 1px solid black;
    padding: 4px;
    border-radius: 2px;
    font-size: 1.1vh;
    font-weight: bold;
    width: 100%;
    margin-bottom: 2px;
}

.sponsor-button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}




/* Style for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    max-width: 50%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black with transparency */
}

/* Modal content */
.modal-content {
    background-color: #020232;;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #2f00ff;
    width: 80%; /* Can be adjusted */
    height: 75%;
    max-width: 600px;
}

/* Close button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* Image in the modal */
#modalImage {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}


/* Modal text */
#modalText {
    font-size: 18px;
    color: #ffffff;
}


@media screen and (max-width: 1090px) {

    .sponsor {
     
        flex-wrap: nowrap;
    }

  
}